.lee{
    font-size: 22px;
    margin-left: 50px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: white;
    display: inline-block;
    text-decoration: none;
}
.togo{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-family: 5px;
    margin-left: 460px;
    display: inline-block;
}
.togo:hover{
    color: rgb(235, 235, 235);
}
.hachi{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    display: inline-block;
}
.hachi:hover{
    color: rgb(235, 235, 235);
}
.hach{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    display: inline-block;
}
.hach:hover{
    color: rgb(235, 235, 235);
}
.hac{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    display: inline-block;
}
.hac:hover{
    color: rgb(235, 235, 235);
}
.ha{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    display: inline-block;
}
.ha:hover{
    color: rgb(235, 235, 235);
}
.h{
    color: white;
    margin-left: 50px;
}
.h:hover{
    color: rgb(235, 235, 235);
}
.no{
    color: white;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 50px;
    cursor: pointer;
}
.con{
    color: rgb(61, 61, 163);
    margin-top: 20px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    font-size: 28px;
    padding-top: 30px;
    text-decoration: underline;
}
div{
    background-color: rgb(243, 243, 243);
    height: 500px;
    width: 700px;
    margin-left: 380px;
}
.conc{
    color: gray;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 30px;
    width: 260px;
    border-radius: 15px;
    border: solid;
    text-align: start;
    font-size: 20px;
}
.connn{
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 590px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    word-spacing: 10px;
    margin-bottom: 0px;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    border-radius: 15px;
    border-color: gray;
    border: solid;
    size: 100px;
}
.non{
    color: rgb(255, 255, 255);
    margin-left: 400px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}
.nun{
    color: rgb(255, 255, 255);
    margin-top: 0px;
    line-height: 0px;
    margin-left: 600px;
    margin-top: 18px;
    font-family: 'Roboto', sans-serif;
}
.conn{
    color: gray;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 30px;
    width: 260px;
    border-radius: 15px;
    border: solid;
    text-align: start;
    font-size: 20px;
}
.connnn{
    color: gray;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 30px;
    width: 260px;
    border-radius: 15px;
    border: solid;
    text-align: start;
    font-size: 20px;
}
.connnnn{
    color: gray;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 30px;
    width: 260px;
    margin-top: 10px;
    border-radius: 15px;
    border: solid;
    text-align: start;
    font-size: 20px;
}
.textarea1{
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 30px;
    height: 130px;
    width: 500px;
    border-radius: 10px;
    color: gray;
    border: solid;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}